.recipe-details-container {
   max-width: 1000px;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
}
.wrapper{
   max-width: 1300px;
   margin: 0 auto;
   padding: 20px;
}

.recipe-details {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
}
h2,h3{
   color:#000;
}
.recipe-info {
   
   padding-right: 20px;
}

.recipe-info h2 {
   margin-top: 0;
}

.recipe-info img {
   width: 600px;
   height: 400px;
   object-fit: cover;
   border-radius: 5px;
   
}
.recipe-decription{
   margin: 20px 0;
   word-break:auto-phrase;
   width: 500px;
}

.ingredient-list-recipe {
   margin-top: 20px;
   width: 310px;
   font-size: 18px;
}

.ingredient-list-recipe ul{
   flex-direction: column;
   display: flex;
   gap: 15px;

}

.ingredient-list h3 {
   margin-bottom: 10px;
}

.favorite-button, .favorite-button-del {
   display: block;
   padding: 10px 20px;
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s;
}
.favorite-button{
   background-color: #007bff;
}

.favorite-button-del{
   background-color: #a60707;
}
.favorite-button-del:hover{
   background-color: #770404;
}

.favorite-button:hover {
   background-color: #0056b3;
}

.recipe-steps {
   flex: 1;
}

.recipe-steps h3 {
   margin-top: 0;
}

.step {
   display: flex;
   margin-top: 20px;
   gap: 50px;
}

.step-image img {
   width: 400px;
   height: 300px;
   object-fit: cover;
   border-radius: 5px;
}

.step-description {
   width: 450px;
   word-break:auto-phrase;
}

.step-description p {
   margin: 0;
}

.stepnum{
   white-space:nowrap;
}
