.search-container {
   gap: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   height: 170px;
   background: #E8E4E0;
   border-radius: 10px;
   position: relative;
   width: 600px;
}

.search-section {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 50px;
   position: relative;
}

.suggestions-container {
   display: flex;
   flex-direction: column;
   position: absolute;
   background-color: #fff;
   border-radius: 0 0 4px 4px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 10;
   width: 80%;
}

h1 {
   margin-top: 50px;
   font-size: 24px;
   color: #333;
}

.return-button {
   position: absolute;
   right: 0;
   margin: 20px auto;
   padding: 10px 20px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s;
}

.return-button:hover {
   background-color: #0056b3;
}

.search-results {
   font-size: 16px;
   color: #555;
   margin-top: 5px;
}


.icon-background {
   cursor: pointer;
   top: 2px;
   right: 54px;
   position: absolute;
   width: 34px;
   height: 34px;
   background-image: url('../search.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.input_search {
   width: 550px;
   padding: 10px 15px;
   border: 1px solid #ccc;
   border-radius: 4px 0 0 4px;
   font-size: 16px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: border-color 0.3s;
}

.input_search:focus {
   border-color: #007bff;
   outline: none;
}



.delete-button::before,
.delete-button::after {
   content: '';
   position: absolute;
   display: block;
   width: 40px;
   height: 3px;
   background: #000;
}

.delete-button::before {
   transform: rotate(45deg);
}

.delete-button::after {
   transform: rotate(-45deg);
}

.delete-button {
   width: 40px;
   height: 40px;
   padding: 10px 15px;
   border: none;
   background-color: #E8E4E0;
   color: #fff;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s;

}

.inp-wrap {
   display: flex;
   gap: 10px;
   position: relative;
   width: 530px;

}

.inp-wrap-p {
   padding-left: 35px;
   margin-right: auto;
   font-style: inherit;
   font-size: 14px;
}

.search-wrapper {
   position: relative;
}

.delete-button:hover {
   background-color: #bab9b7aa;
}

.delete-button:focus {
   outline: none;
}

.suggestion-item {
   padding: 10px;
   cursor: pointer;
   border-bottom: 1px solid #eee;
}

.suggestion-item:hover {
   background-color: #f1f1f1;
}

.suggestion-item:last-child {
   border-bottom: none;
}

@media (max-width: 685px) {
   .search-container {
   width: 500px;
   }
   .inp-wrap {
      width: 470px;
   }
 }

 @media (max-width: 520px) {
   .search-container {
     width: 340px;
     height: 120px
   }
   .inp-wrap {
      width: 290px;
   }
 }