.recipe-cards {
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
   gap: 50px;    
}

.recipe-card {
   background: #fff;
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 400px; 
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
   cursor: pointer;
   box-sizing: border-box;
}
.recipe-card-desc{
   overflow :hidden;
   white-space: nowrap;
   width: 350px;
   text-overflow: ellipsis;
}

.recipe-card:hover {
   transform: translateY(-5px);
}

.recipe-card img {
   width: 100%;
   height: 200px; 
   object-fit: cover; 
   border-radius: 5px;
}

.recipe-card h3 {
   font-size: 18px;
   margin-top: 10px;
}

.recipe-card p {
   font-size: 14px;
   color: #555;
   margin-top: 5px;
   flex-grow: 1;
}

.card-buttons {
   margin-top: 15px;
   display: flex;
   justify-content: center;
   width: 100%; 
}

.card-buttons-del{
   background-color: #a60707;
   color: #fff;
   border: none;
   padding: 8px 16px;
   border-radius: 4px;
   cursor: pointer;
}

.card-buttons-del:hover{
   background-color: #770404;
}

.wrapper-recipe{
   padding: 50px;
}

