table {
   width: 100%;
   border-collapse: collapse;
   margin: 20px 0;
 }
 
 th, td {
   padding: 10px;
   text-align: left;
   border-bottom: 1px solid #ddd;
 }
 
 th {
   background-color: #f4f4f4;
 }
 
 tr:hover {
   background-color: #f1f1f1;
 }
 
 .delete-button {
   background: none;
   border: none;
   color: black;
   cursor: pointer;
   font-size: 24px;  
   display: flex;  
   align-items: center; 
   justify-content: center; 
 }
 
 .delete-button:hover {
   color: red;
 }
 